// Buttons 
// -------------------------------

.button {
	text-transform: uppercase;
	letter-spacing: 5px;
}

.button-transparent {
	background-color: rgba(0, 0, 0, 0.65);
	border: 0;
	color: $light;

	&.activated {
		background-color: rgba(0, 0, 0, 0.85);
		color: $light;
	}
}

// Overlapping heading
// -------------------------------

.bar-transparent {
	background-image: none;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	height: 140px;
}

.bar-transparent {
	.title{
		color: $light;
		font-size: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.app-name {
		letter-spacing: 0px;
		animation-name: converge;
		animation-duration: 7s;
	}
}

// Slider
// -------------------------------

.slider-pager .slider-pager-page {
	color: $light;
}

// Content
// -------------------------------

.main-content {
	background-color: $dark;
	color: $dark;
}

.main-content.home {
  background: url('../img/bg.jpg') no-repeat right fixed;
	background-size: cover;
}

// Playing backdrop
// -------------------------------

.playing-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

// Start screen
// -------------------------------

.start-screen {
	position: absolute;
	width: 85%;
	left: 50%;
  top: 75%;
	transform: translate(-50%, -50%);
}

.highscore {
	color: #fff;
	font-size: 1.4em;
	letter-spacing: 5px;

	.icon {
		font-size: 1.5em;
		vertical-align: middle;
	}
}

.social-sharing {
  font-size: 30px;
  letter-spacing: 15px;
}

// Board
// -------------------------------

.board {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
}

.board.fadeOut {
	transition: opacity 1.5s 1.5s;
	opacity: 0;
}

// Timer
// -------------------------------

.timer {
	position: absolute;
	bottom: 15%;
	left: 50%;
	width: 120px;
	height: 25px;
	letter-spacing: 5px;
	padding: 2px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.35);
	transform: translate3d(-50%, -50%, 0);
}

.timer .dot {
	font-size: 2em;
	color: $cream;
}

// Shapes
// -------------------------------

.shape {
	position: absolute;
	transform-origin: top left;
}

.triangle {
	opacity: 0.6;
}

.circle {
	border-radius: 100%;
}

// Focal Point
// -------------------------------

.focal-point {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: $hotpink;
	border: 2px solid #fff;
}

.focal-point.reveal {
	display: block;
	animation-name: bounceIn;
	animation-duration: 0.7s;
}

// Pin
// -------------------------------

.pin {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: $positive;
	border: 2px solid #fff;
}

.pin.dropped {
	display: block;
	animation-name: bounceIn;
	animation-duration: 0.7s;
	animation-fill-mode: both;
}

// Target
// -------------------------------

.target {
	display: none;
	position: absolute;
	background: rgba(24, 181, 64, 0.5);
	border: 1px solid #5a9f35;
	box-shadow: 0 0 40px 40px #59d879 inset;
}

.target.reveal {
	display: block;
	animation-name: grow;
	animation-duration: 0.7s;
}

// Popups
// -------------------------------

.popup-container {
	.popup {
		border: 0;
		color: $light;
		background-color: #000;
		text-align: center;
		font-size: 1.2em;
	}

	.popup-head {
		border: 0;
		font-size: 1em;

		h3 {
			color: $light;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
		h5 {
			color: #74f6dc;
			text-transform: uppercase;
		}
	}

	.popup-buttons .button {
		border: 0;
	}
}

.level-up {
	pointer-events: none;
	position: absolute;
	width: 85%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $light;
	font-size: 3em;
	opacity: 0;
}

.level-up.reveal {
	animation-name: levelUp;
	animation-duration: 1.5s;
}

// Animations
// -------------------------------

@keyframes levelUp {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale3d(.2, .2, .2);
	}

	35%, 65% {
		opacity: 1;
		transform: translate(-50%, -50%) scale3d(1, 1, 1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale3d(2, 2, 2);
	}
}

@keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.2, .2, .2);
	}

	20% {
		transform: scale3d(1.3, 1.3, 1.3);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.08, 1.08, 1.08);
	}

	80% {
		transform: scale3d(.92, .92, .92);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes grow {
	from {
		transform: scale(0) rotate(-180deg);
	}

	to {
		transform: scale(1) rotate(0);
	}
}

@keyframes converge {
	from {
		letter-spacing: 8px;
	}

	to {
		letter-spacing: 0px;
	}
}

@keyframes diverge {
	from {
		letter-spacing: 0px;
	}

	to {
		letter-spacing: 8px;
	}
}