// Fonts
// -------------------------------

@font-face {
	font-family: $headings-font-family;
	src: url("#{$custom-font-path}/montserrat.eot");
	src: url("#{$custom-font-path}/montserrat.eot#iefix") format("embedded-opentype"),
	url("#{$custom-font-path}/montserrat.ttf") format("truetype"),
	url("#{$custom-font-path}/montserrat.woff2") format("woff2"),
	url("#{$custom-font-path}/montserrat.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $body-font-family;
	src: url("#{$custom-font-path}/roboslab.eot");
	src: url("#{$custom-font-path}/roboslab.eot#iefix") format("embedded-opentype"),
	url("#{$custom-font-path}/roboslab.ttf") format("truetype"),
	url("#{$custom-font-path}/roboslab.woff2") format("woff2"),
	url("#{$custom-font-path}/roboslab.svg#Roboslab") format("svg");
	font-weight: normal;
	font-style: normal;
}

// Menu
// -------------------------------

.title {
	font-family: $headings-font-family;
}

.menu {
	background-color: $dark;
}

.menu .item {
	background-color: darken($dark, 15%);
	border-color: transparent;
	left: 0;
	right: 0;
}

// Overlapping heading
// -------------------------------

.bar-transparent {
	background-color: transparent;
	border: 0;
}

.bar-transparent {
	.title,
	.button {
		color: $light;
	}
}

// Content
// -------------------------------

.main-content {
  //background: url('/img/bg.jpeg') no-repeat center center fixed;
  //background-size: cover;
	background-color: #C6C6C6;
	color: $light;
}

// Help slides
// -------------------------------

.slider {
	height: 100%;
}

// Board
// -------------------------------

.board {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
}


// Timer
// -------------------------------

.timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.timer .dot {
	font-size: 2em;
}


// Shapes
// -------------------------------

.shape {
	position: absolute;
	width: 750px;
	height: 750px;
	opacity: 0.8;
	transform-origin: top left;
}

.triangle {
	opacity: 0.6;
}

.circle {
	border-radius: 100%;  
}

// Focal Point
// -------------------------------

.focal-point {
	display: none;
	position: absolute;
	transform: translate(-5px, -5px);
	width: 10px;
	height: 10px;
	background-color: $light;
	border-radius: 100%;
}