
.triangle {
	position: absolute;
	width: 3000px;
	height: 3000px;
	transition: all 0.3s linear;
}
.triangle-top-left {
	top: -1500px;
	left: -3000px;	
	transform: rotate(18deg);
	transform-origin: center right;
	background-color: rgba(91, 232, 161, 0.8);
}
.triangle-top-left-grow {
	top:  -1200px;
	left: -2900px;
}

/*
  var degrees = Math.atan( x/y ) * (180/Math.PI);
  var degrees = Math.atan( 100 / 300 ) * (180/Math.PI); // 18 degrees

  triangle grow calc 100 and 300 pixels x and y
*/